* {
    font-family: 'Montserrat', sans-serif;
}

#main {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #e6dede91;
    margin: 10px 5px 10px 5px;
    border-radius: 10px;
}

figure {
    padding-top: 20px;
}

hr {
    margin: 5px;
    color: gray;
}

h1 {
    margin-top: 23px;
    margin-bottom: 0;
}

.heading {
    font-weight: bold;
    padding-right: 5px;
}

#image:hover {
    cursor: pointer;
}

li {
    display: flex;
    list-style: none;
    margin-left: -35px;
    padding-bottom: 5px;
}

li img {
    height: 200px;
    width: 200px;
}

li p {
    font-weight: bold;
    padding: 10px;
}

li a{
    color: white;
    text-decoration: none;
}

.books {
    display: flex;
    flex-direction: column;
}

button {
    height: 50px;
    width: 150px;
    background-color: green;
    border-radius: 10px;
    color: white;
    border: none;
    outline: none;
    margin: 10px;
}

#image{
    width: 100%;
    height: auto;
    min-width: 200px;
    text-align: center;
}

@media only screen and (max-width: 600px){
    #main{
        display: flex;
        flex-direction: column;
    }
  li{
    display: flex;
    flex-direction: column;
}
.books p{
    padding: 0;
}
button{
    margin-top:0;
    margin-left:0;
}
p,td,.heading{
    font-size: large;
}
tr{
    display: flex;
    flex-direction: column;
}
}